{% extends 'base.html' %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div class="page-header d-flex align-items-center" style="background-image: url('');">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Feedback</h2>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <ol>
        <li><a href="{{ url_for('web.home') }}">Home</a></li>
        <li>Feedback</li>
      </ol>
    </div>
  </nav>
</div><!-- End Breadcrumbs -->

<section class="sample-page">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">


              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#feedback">Write
                  Feedback</button>
              </li>

            </ul>
            <div class="tab-content pt-2">


              <div class="tab-pane fade profile-edit pt-3 active show" id="feedback">
                <!-- Profile Edit Form -->
                <form method="post" action="{{url_for('web.add_feedback')}}">
                  <div class="row mb-3">
                    <label for="title" class="col-md-4 col-lg-3 col-form-label">Title</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="title" type="text" class="form-control" id="title" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="content" class="col-md-4 col-lg-3 col-form-label">Content</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="content" type="text" class="form-control" id="content" required>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-success">Submit Feedback</button>
                  </div>
                </form><!-- End Form -->

              </div>

        
            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>

  </div>
</section>


{% endblock %}