{% extends 'base.html' %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div class="page-header d-flex align-items-center" style="background-image: url('');">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Profile</h2>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <ol>
        <li><a href="{{ url_for('web.home') }}">Home</a></li>
        <li>Profile</li>
      </ol>
    </div>
  </nav>
</div><!-- End Breadcrumbs -->

<section class="sample-page">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">


              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit
                  Profile</button>
              </li>


              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change
                  Password</button>
              </li>

            </ul>
            <div class="tab-content pt-2">


              <div class="tab-pane fade profile-edit pt-3 active show" id="profile-edit">
                <!-- Profile Edit Form -->
                <form method="post" action="{{url_for('web.profile')}}">
                  <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input type="text" class="form-control" id="email" disabled value="{{me.email}}">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="username" class="col-md-4 col-lg-3 col-form-label">Username</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="username" type="text" class="form-control" id="username" value="{{me.username}}">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="firstName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="first_name" type="text" class="form-control" id="firstName"
                        value="{{me.first_name}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="lastName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="last_name" type="text" class="form-control" id="lastName" value="{{me.last_name}}">
                    </div>
                  </div>


                  <div class="row mb-3">
                    <label for="title" class="col-md-4 col-lg-3 col-form-label">Title</label>
                    <div class="col-md-8 col-lg-9">
                      <select class="form-control" name="title" id="title">
                        <option value="Mr" {% if me.title=='Mr' %}selected{% endif %}>Mr</option>
                        <option value="Ms" {% if me.title=='Ms' %}selected{% endif %}>Ms</option>
                        <option value="Mrs" {% if me.title=='Mrs' %}selected{% endif %}>Mrs</option>
                      </select>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Job" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="phone" type="text" class="form-control" id="Job" value="{{me.phone}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="address" type="text" class="form-control" id="Address" value="{{me.address}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="date_of_birth" class="col-md-4 col-lg-3 col-form-label">Date of birth</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="date_of_birth" type="date" class="form-control" id="date_of_birth"
                        value="{{me.date_of_birth}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="profile_image" class="col-md-4 col-lg-3 col-form-label">Image url</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="profile_image" type="text" class="form-control" id="profile_image"
                        value="{{me.profile_image}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="permaculture_experience" class="col-md-4 col-lg-3 col-form-label">Permaculture
                      experience</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="permaculture_experience" type="text" class="form-control"
                        id="permaculture_experience" value="{{me.permaculture_experience}}">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-success">Save Changes</button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>

              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form method="post" action="{{url_for('web.update_password')}}">

                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password" type="password" class="form-control" id="currentPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="new_password" type="password" class="form-control" id="newPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="confirm_password" type="password" class="form-control" id="renewPassword">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-success">Change Password</button>
                  </div>
                </form><!-- End Change Password Form -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>

  </div>
</section>


{% endblock %}